*{
    padding: 0px;
    margin: 0px;
    font-family: 'open sans';
}
:root{
    --color: #8e6145;
    --fcolor:#5b3d2a;
    --tcolor:#ffffff;
   
}
button{
     padding: 0.8em 1.9em 0.8em 1.9em;
    background-color: var(--color);
    font-size:0.9em;
    color:white;
    border: none;
    margin-right: 0.7em;
    text-transform: uppercase; 
}
button:hover{
    background-color: black;
}
 
/* =====================header================= */

header{
    width: 100vw;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    background-color: white; 
}
.logo{
    display: flex;
    margin-left: 1em;
}
.logo img{
    height: 5.2em;
}
.menu{
    display: flex;
    align-items: center;
    padding-right: 2em; 
}
.menu a{
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 700;
    color: var(--fcolor) ;
    margin-left: 0.8em;
    text-transform: uppercase;
    align-items:center;
    padding-right: 1em;
}
.btn2{
    display: flex;
}
.order-now{
    padding: 0.3em;
   
}

.order-now div{
    border: 1px solid white; 
    width: 9em;
    height: 2em;
    align-items: center;
    display: flex;
    justify-content: center;
}
.icon i{
    margin-right: 12px;
    font-size: 1.5rem;
}

/* =====================container==================== */

.container{
    display: flex;
}
.container-box{
    display: flex;
    background-image: url(salid.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.container2{
    display: flex;
    width: 100%;
    /* height: 55vh; */
    background-color: white;
    flex-direction: row;
    padding: 3.5em 0em 3em 0em;
    justify-content: center;
    align-items: center;
}
.left-box{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 30%;
    margin-right: 1em;
    margin-left: 1em;
    
}
.left-box h1{
    color: var(--fcolor);
    font-size: 2.5rem;
    font-weight: 700em;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    
}
.left-box p{
    color: var(--fcolor);
    font-size: 1em;
    margin-bottom: 1.5em;
    text-align: center;
    
    
}
.right-box{
    width: 50%;
    margin-left: 1em;
    margin-right: 1em;
   
}
.right-box img{
   max-width: 100%;
}

/* --------------------image container-------------------- */

.image-container1{
    display: flex;
    width: 100%;
    height: 250px;
    background-image: url(image.c.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}
.text-box{
    display: flex;
    flex-direction: column;          
} 
 
  /* ======================container3====================   */
   

.container3{
    display: flex;
    width: 100%;
    height: 49vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}
.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;

   
}
.content-box h1{
    color:var(--fcolor);
    font-size: 2.5rem;
    font-weight: 700em;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;

}
.content-box p{
    color: var(--fcolor);
    text-align: center;
    line-height: 1.7;
    margin-bottom: 1em;
}

/* ===================image container2=============== */

.image-container2{
    display: flex;
    width: 100%;
    height: 59vh;
    background-image: url(nature.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    align-items: center;
    padding-bottom: 3em;
    padding-top: 3em;
    justify-content: center;
    
}
.white-box{
    display:flex;
    flex-direction: column;
    max-width: 65%;
    height: 300px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    
}
.white-box h3{
    color: var(--fcolor);
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 1em;
    letter-spacing: -0.015em;
}
.white-box p{
    font-family: "lora";
    font-size: 1.7em;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding: 0em 1.5em;
    animation: reverse;
    animation-duration: 1ms;
}

/* ===========================footer===================== */

.home-footer{
    display: flex;
    width: 100%;
    height: 60vh;
    background-color: var(--color);
    flex-direction: column;
    
    
}
.footer-box{
    display: flex;
    padding: 3em;
    justify-content: center;
    
   
}
.box1{
    display: flex;
    flex-direction: column;
    width: 14em;
    align-items: center;
    justify-content:space-between;
    margin: 0em 1em 0em 1em;
}
.box1 img{
    height: 4em;
}
.box1 h1{
    font-size: 1.5em;
    color: var(--tcolor);
    text-align: left;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.box1 p{
    font-size: 12px;
    color: var(--tcolor);
    margin-top: 12px;
    margin-bottom: 2em;
    text-align: left;
    line-height: 2;

}
 .box1 button{
    background-color:#ffffff;
    color: var(--fcolor);
    margin-top: 2em;

}
.box1 button:hover{
    background-color: black;
}

.box1 a{
    color: var(--tcolor);
    margin-bottom: 1em;
    font-size: 12px;
}
 
.footer2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
}
.footer2 p{
    color: var(--tcolor);
    
}


/* ========================responsive site================ */

@media (min-width:400px) and (max-width:1000px){
    .btn2 button{
    padding: 0.4em 1em 0.4em 1em;
    background-color: var(--color);
    font-size:0.5em;
    color:white;
    border: none;
    margin-right: 0.7em;
    text-transform: uppercase; 
}
.container-box{
    width: 100vw;
}
.container2{
    width: 100vw;
    flex-direction: column;
}
.left-box button{
    margin-top: 10px;
}
.right-box img{
    margin-top: 8px;
}
.image-container2{
    width: 100vw;
} 
.white-box{
    max-width: 90%;
}
.home-footer{
    width: 100vw;
    height: 200vh;
}
.footer-box{
    flex-direction: column;
    height: 170vh;
    align-items: center;
    justify-content: center;
}
.footer2{
   width: 90%;
}
.footer2 p{
    text-align: center;
}
}










 